---
import BaseLayout from '../layouts/BaseLayout.astro'
import ClassList from '../components/ClassList.astro'
import type { Metadata } from '../utils/seo'
import Modal from '../components/Modal.astro'

const meta: Metadata = {
  title: 'Classes | Sara Rogers Acting',
  description:
    "Explore a world of possibilities with Sara's adult acting classes. From improvisation to monologues and scenes, our year-round classes offer a transformative journey into the art of acting.",
  url: 'https://adultactingcoach.com/classes',
}
---

<BaseLayout meta={meta} title="Classes">
  <div
    class="grid md:grid-cols-2 items-start gap-y-2 md:gap-x-4 lg:gap-x-6 md:gap-y-3 lg:gap-y-6 md:auto-rows-fr container px-4 md:px-0"
  >
    <ClassList />
  </div>
</BaseLayout>
