---
import ContactForm from '../components/ContactForm.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import type { Metadata } from '../utils/seo'

const meta: Metadata = {
  title: 'Contact | Sara Rogers',
  description:
    'Ready to embark on a transformative journey? Reach out to Sara Rogers and take the first step toward unlocking your potential in acting and public speaking.',
  url: 'https://adultactingcoach.com/contact',
}
---

<BaseLayout meta={meta} title="Contact">
  <div class="flex flex-col container">
    <div class="max-w-2xl mx-auto w-full">
      <ContactForm />
    </div>
  </div></BaseLayout
>
