---
import Layout from "../layouts/Layout.astro";
import ClassList from "../components/ClassList.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout>
  <div
    class="relative mb-10 md:mb-20 bg-gradient-to-r p-4 from-purple/10 via-purple/80 to-purple/90"
  >
    <div
      class="py-8 md:pt-48 md:pb-20 container relative flex items-center justify-center"
    >
      <h1 class="text-3xl md:text-5xl text-white m-0 z-10 relative">
        Sara Rogers
      </h1>
    </div>
    <ContactForm />
  </div>

  <div class="max-w-6xl w-full mx-auto">
    <div
      class={`grid md:grid-cols-2 items-start gap-y-2 md:gap-x-4 lg:gap-x-6 md:gap-y-3 lg:gap-y-6  md:auto-rows-fr`}
    >
      <ClassList />
    </div>
  </div>
</Layout>
