---
import BaseLayout from '../layouts/BaseLayout.astro'
import type { Metadata } from '../utils/seo'

const meta: Metadata = {
  title: 'Self-taping | Sara Rogers',
  description:
    'Polish your self-taping skills with guidance from Sara Rogers. Elevate your auditions with expert coaching, ensuring you present your best self on screen.',
  url: 'https://adultactingcoach.com/self-tapes',
}
---

<BaseLayout meta={meta} title="Self taping and submissions">
  <div class="flex flex-col container px-4 md:px-0">
    <div class="max-w-4xl mx-auto">
      <div class="flex flex-col gap-4 font-light [&>p]:text-center">
        <p>
          Self-Taping and Submissions have become the norm not the exception in
          today’s world. Film and TV casting are turning to self-taping more and
          more often, leading actors away from the in-person experience.
        </p>
        <p>
          However, it expands the opportunities world-wide. Actors are now
          tasked with being both actor AND director, having a studio setup, and
          making bold (yet grounded) choices that will lead to more and more
          requests and hopefully to more bookings.
        </p>

        <div class="flex my-10 h-52 border-purple border-2 w-full mx-auto">
          <img
            src="https://secure.meetupstatic.com/photos/event/d/d/7/3/event_480416691.webp?w=2048"
            alt="Self-taping example 1"
            class="w-full object-cover object-top"
            width="300"
            height="300"
            loading="lazy"
          />
          <img
            src="https://secure.meetupstatic.com/photos/event/4/7/a/9/event_474678345.webp?w=2048"
            alt="Self-taping example 2"
            class="w-full object-cover object-top"
            width="300"
            height="300"
            loading="lazy"
          />
        </div>

        <p>
          Book your time and self-tape with Sara Rogers, a two-time award
          winning acting coach. With Sara you get a built-in reader AND coach.
          We tape you – watch playbacks and choose the right audition take to
          send. We’ll label the files and send them electronically. This is all
          done in a Stress-Free Environment and can typically be accomplished
          within an hour.
        </p>
        <p>
          The time all depends on the actor and where they are in the
          memorization and technique and how many pages they have to submit.
          Your time begins at the time that was reserved so please allow enough
          time for traffic, rehearsal, makeup and any wardrobe change. If you
          reserved an 11 am slot and arrive at 11:15, you have 45 minutes left
          to your hour.
        </p>
        <p>
          Sara’s experience has shown that if you are memorized and ready to
          tape this should go very smoothly within the hour, and if you finish
          early, you can use the time to pick her brains! She has tons of
          experience to share with you.
        </p>

        <div
          class="p-8 my-12 rounded-md border text-white flex flex-col gap-4 bg-purple/80 [&>p]:text-center"
        >
          <h2 class="text-center m-0 text-3xl font-semibold text-white">
            Fees and scheduling
          </h2>
          <p>
            The rate is a flat $75.00 for the hour. If you have several pages or
            more than one scene to self-tape, it may take a bit longer, and it
            will be $37.50 for every additional 30 minutes. 1.5 hours will be
            $112.50, and 2 hours will be $150. We take Cash (preferred – you get
            a receipt), PayPal, Credit Cards or Checks. ​Due to the nature of an
            actor's work, our cancellation policy is flexible. You are welcome
            to cancel or reschedule at anytime up to 3 hours from your
            appointment time with no rescheduling charge. Less than 3 hours,
            there is a $25.00 rescheduling charge.
          </p>
        </div>

        <h3 class="text-center text-2xl font-semibold mb-0">Notes</h3>
        <p>
          The background we tape against is grey. Please do not wear logos or
          anything that draws the eye away from your audition; solid colors are
          best (No BLACK, WHITE or RED). Wear jackets, sweaters or dress like
          the character as much as you are able and if it's a white doctor
          jacket, wear it. Please bring options and the camera may have to
          decide.
        </p>
        <p>
          Sara is a seasoned professional in the auditioning and acting worlds
          and wants you to BOOK the Job. Her reputation working for and with
          actors is legendary. Please take a moment to review her
          <a href="/testimonials" class="text-purple underline">testimonials</a>
          from past and present students to get a better understanding of her and
          her teaching methods.
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
