---
import Section from '../components/Home/Section.astro'
import Modal from '../components/Modal.astro'
import HomeLayout from '../layouts/HomeLayout.astro'
---

<HomeLayout>
  <Section>
    <div class="flex gap-4 mt-16 md:mt-24 px-4 md:px-0">
      <Modal />
    </div>
  </Section>
</HomeLayout>
