<!-- Contact Form -->
<form
  data-netlify="true"
  name="contact"
  method="POST"
  netlify-honeypot="bot-field"
  class="rounded-lg max-w-2xl w-full shadow-xl flex flex-col px-8 py-8 bg-white"
  id="contact-form"
>
  <input type="hidden" name="form-name" value="contact" />

  <p class="hidden">
    <label>
      Don’t fill this out if you’re human:
      <input name="bot-field" type="text" />
    </label>
  </p>

  <h1 class="text-center text-2xl font-semibold text-gray-700">
    Send a message
  </h1>

  <label for="fullname" class="text-gray-500 font-light mt-8">
    Full name <span class="text-red-500">*</span>
  </label>
  <input
    required
    type="text"
    name="fullname"
    class="bg-transparent border-b py-2 pl-4 focus:outline-none focus:rounded-md focus:ring-1 ring-purple font-light text-gray-500"
  />

  <label for="email" class="text-gray-500 font-light mt-4">
    E-mail <span class="text-red-500">*</span>
  </label>
  <input
    required
    type="email"
    name="email"
    class="bg-transparent border-b py-2 pl-4 focus:outline-none focus:rounded-md focus:ring-1 ring-purple font-light text-gray-500"
  />

  <label for="phone" class="text-gray-500 font-light mt-4">
    Phone (Optional)
  </label>
  <input
    type="tel"
    name="phone"
    class="bg-transparent border-b py-2 pl-4 focus:outline-none focus:rounded-md focus:ring-1 ring-purple font-light text-gray-500"
  />

  <label for="message" class="text-gray-500 font-light mt-4">
    Message <span class="text-red-500">*</span>
  </label>
  <textarea
    required
    name="message"
    class="bg-transparent border-b py-2 pl-4 focus:outline-none focus:rounded-md focus:ring-1 ring-purple font-light text-gray-500"
  ></textarea>

  <div class="flex flex-row items-center justify-start mt-4">
    <button type="submit" class="sr-link max-w-none w-auto py-2 text-2xl">
      Send
    </button>
  </div>
</form>

<!-- Success Message -->
<div
  id="success-message"
  class="hidden mt-8 max-w-2xl w-full rounded-lg bg-gradient-to-r from-green-100 to-green-50 px-6 py-4 text-green-800 shadow-lg text-center"
>
  <p class="text-base font-semibold tracking-wide">
    ✅ Thanks for reaching out! We'll get back to you soon.
  </p>
</div>

<!-- Form Submission Script -->
<script>
  const handleSubmit = (e: SubmitEvent) => {
    e.preventDefault();
    const successMessage = document.getElementById("success-message");
    const form = e.target as HTMLFormElement;

    const formData = new FormData(form);
    const data = new URLSearchParams();

    data.append("form-name", "contact");
    for (const [key, value] of formData.entries()) {
      if (typeof value === "string") {
        data.append(key, value);
      }
    }

    fetch("/", {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded",
      },
      body: data.toString(),
    })
      .then(() => {
        form.style.display = "none";
        successMessage!.classList.remove("hidden");
        successMessage!.classList.add("opacity-0");
        setTimeout(() => {
          successMessage!.classList.remove("opacity-0");
          successMessage!.classList.add(
            "opacity-100",
            "transition-opacity",
            "duration-500",
          );
        }, 10);
        console.log("Form successfully submitted");
      })
      .catch((error) => alert(error));
  };

  document.querySelector("form")?.addEventListener("submit", handleSubmit);
</script>
