---
import { navLinks, type NavLink } from "../data/nav";
import Image from "astro/components/Image.astro";
---

<header class="fixed md:absolute py-6 top-0 w-full z-50">
  <div class="hidden md:flex justify-center items-center container">
    <nav
      class="rounded-lg bg-purple/95 text-white shadow-md border border-white/20 font-bold tracking-wider p-4 px-8"
    >
      <ul class="flex gap-4 flex-wrap justify-center items-center">
        <!-- Logo -->
        <li>
          <Image
            loading="eager"
            src="/assets/images/logo.png"
            alt="logo"
            width="50"
            height="50"
            class="bg-white p-2 rounded-md"
          />
        </li>

        <!-- Navigation links -->
        {
          navLinks.map((link: NavLink) => (
            <li>
              <a
                href={link.href}
                class="text-xl capitalize text-center hover:text-white/50"
              >
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
