---
import type { Metadata } from '../utils/seo'
import SiteLayout from './SiteLayout.astro'

interface Props {
  meta?: Partial<Metadata>
  contained?: boolean
  footerSpacious?: boolean
  footerBordered?: boolean
}

const {
  meta = {},
  contained = true,
  footerSpacious = true,
  footerBordered = true,
}: Props = Astro.props
---

<SiteLayout
  meta={meta}
  footerSpacious={footerSpacious}
  footerBordered={footerBordered}
>
  {
    contained ? (
      <div class="mx-auto max-w-6xl px-4">
        <slot />
      </div>
    ) : (
      <slot />
    )
  }
</SiteLayout>
